# Hacktiv8 Python for Data Science - Sesi 1

Sesi 1 :

- Python Introduction
-Python Data Type
-Variable

## Python Basic Data Types

Integer

In [1]:
#Example
1

1

In [2]:
print(1)
print(type(1)) #Untuk mengetahui tipe Data

1
<class 'int'>

## Floating Point

In [3]:
print(4.2)
print(type(4.2)) #Untuk mengetahui tipe data

print (.4e7) #Pangkat
print (.4e-5) #Desimal

print(.2)

4.2
<class 'float'>
4000000.0
4e-06
0.2

## String

In [4]:
print("Hacktiv8 Batch 36")
print(type("Hacktiv8 Batch 36")) #Tipe Data

Hacktiv8 Batch 36
<class 'str'>

In [5]:
print("Let's go")

Let's go

In [6]:
print(type("2"))

<class 'str'>

In [7]:
for i in range(3):
    print("Hai")

Hai
Hai
Hai

## Heading

In [8]:
True

True

In [9]:
False

False

In [10]:
print(type(True))
print(type("True"))

<class 'bool'>
<class 'str'>

## Variable

In [11]:
X = str(input("Masukkan kalimat: ")) #Input variable string

print(X) #Output

Masukkan kalimat:  HAIIIII

HAIIIII

In [12]:
beefPizza = 5

In [13]:
print(beefPizza)

5

In [14]:
beefPizza = int(input("Mau berapa banyak Beef Pizza? "))

Mau berapa banyak Beef Pizza?  10

In [15]:
print(beefPizza)

10

In [17]:
chickenpizza = beefpizza = 2
print(chickenpizza, beefpizza)

2 2

In [19]:
beefpizza = "kosong"

In [20]:
print(chickenpizza, beefpizza)

2 kosong

In [21]:
nama = "Hacktiv8"
Umur = 26
punya_laptop = True

print(nama, Umur, punya_laptop)

Hacktiv8 26 True

## Operators and Expression

In [23]:
a = 10
b = 20
print(a+b)
print(a*b)
print(b%a)

30
200
0

## Aritmatic Operator

In [25]:
a = 5
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

8
2
15
1.6666666666666667
2
125

### Comparasion Operator

In [27]:
a = 4
b = 3

print(a == b)
print(a > b)
print(a < b)
print(a != b)

False
True
False
True

## String Manupulation

In [30]:
a = "foo"
b = "bar"
c = "baz"

print(a+b)
print(a+b+c)
print("Hacktiv8"+"Batch 36")

foobar
foobarbaz
Hacktiv8Batch 36

In [32]:
print(a * 10)

foofoofoofoofoofoofoofoofoofoo

In [33]:
#In operation

s = "foo"

print(s in "That food for us")
print(s in "That good for us")

True
False

In [36]:
# Case Conversion

s = "HaCkTiv8 BAtch 36"

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8 batch 36
hacktiv8 batch 36
hAcKtIV8 baTCH 36
Hacktiv8 Batch 36
HACKTIV8 BATCH 36

## Python List

In [37]:
#Array
a =["foo", "bar", "bazz", "qux"]

print(a) #Output dari array

['foo', 'bar', 'bazz', 'qux']

In [38]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [39]:
a = [22, "hai", 9.8, "woy", 66]

print(a)

[22, 'hai', 9.8, 'woy', 66]

In [40]:
print(a[2]) #Untuk mengetahui isi array ke-2, Array dimulai dari 0

9.8

In [43]:
print(a[-1])

66

In [45]:
#Slicing - list[star:stop:step]

print(a[1:4])
print(a[1:4:2])

['hai', 9.8, 'woy']
['hai', 'woy']

In [46]:
#Conxatenation and Replication

print(a)

print(a + ["list1", "list2"])
print(a*2)

[22, 'hai', 9.8, 'woy', 66]
[22, 'hai', 9.8, 'woy', 66, 'list1', 'list2']
[22, 'hai', 9.8, 'woy', 66, 22, 'hai', 9.8, 'woy', 66]

In [48]:
#len, min,max
print(a)

print(len(a))

[22, 'hai', 9.8, 'woy', 66]
5

In [49]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(len(a)) #Panjang array
print(min(a)) #Nilai paling besar array (sesuai abjad jika string)
print(max(a)) #Nilai paling kecil

6
bar
qux

In [53]:
print(a)
print(a[2])

a[2] = "hehe" #Mengganti data array ke-2
a[-1] = 10 #Mengganti data array terakhir

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
baz
['foo', 'bar', 'hehe', 'qux', 'quux', 10]

In [65]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

del(a[1]) #Menghapus data pada array ke-2

['foo', 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [63]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5] #Menyisipkan diantara array ke 1 dan ke 4

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Tuples

In [66]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [68]:
print(t[2])

print(t[-1])

baz
corge

## Pythpn Dictionary

In [69]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [70]:
MLB_team["Boston"]

'Red Sox'

In [73]:
MLB_team["Colorado"]

'Rockies'

In [74]:
MLB_team["Jakarta"]

KeyError: 'Jakarta'

In [76]:
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [77]:
MLB_team["Kansas CIty"] = "Royals" #Menambahkan dictionary

In [78]:
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas CIty': 'Royals'}

In [80]:
MLB_team["Boston"] = "Persija" #Mengganti Boston

print(MLB_team) #Dictionary yg baru

{'Colorado': 'Rockies', 'Boston': 'Persija', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas CIty': 'Royals'}

In [81]:
person = {}

In [82]:
person

{}

In [83]:
person["fname"] = "Hacktiv8"

In [84]:
person

{'fname': 'Hacktiv8'}

In [85]:
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [86]:
person

{'fname': 'Hacktiv8',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [87]:
person["fname"]

'Hacktiv8'

In [95]:
print(person["children"])
print(person["children"][0])

['Ralph', 'Betty', 'Joey']
Ralph

In [94]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [96]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
d.items()

# keys
d.keys()

# values
d.values()

dict_values([10, 20, 30])

In [97]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

In [98]:
# items
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [99]:
# items
d.keys()

dict_keys(['a', 'b', 'c'])

In [100]:
# values
d.values()

dict_values([10, 20, 30])

In [101]:
print(d.items())

print(d.keys())

print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [102]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

In [104]:
someone_is_of_working

True