# Hacktiv8 Python for Data Science - sesi 4

Sesi 4:
- Numpy

##Creating Array

In [1]:
import numpy as np

In [2]:
a = np.array([1,2,3,4])

In [3]:
a

array([1, 2, 3, 4])

In [4]:
#Isi array dengan 0 semua
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [5]:
#Isi array dengan angka 1 pada semua array
np.ones(3)

array([1., 1., 1.])

In [6]:
#Isi random, tergantung output terakhir
np.empty(5)

array([0., 0., 0., 0., 0.])

In [7]:
#Isi array dimulai dari 0 berurutan
np.arange(4)

array([0, 1, 2, 3])

In [8]:
np.arange(11)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
np.arange(0,20,3)

array([ 0,  3,  6,  9, 12, 15, 18])

## Add, Remove, and Sort

In [10]:
arr = np.array([1,2,3,4,5,6,7,8,9])

In [11]:
#Untuk menggabungkan array
np.append(arr, [6,8])

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 8])

In [12]:
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
#Mengganti array aslinya
arrnew = np.append(arr, [6,8])

In [14]:
arrnew

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 8])

In [15]:
#Untuk menghapus isi array
np.delete(arrnew, 1)

array([1, 3, 4, 5, 6, 7, 8, 9, 6, 8])

In [16]:
arrnew

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 8])

In [17]:
#Untuk mengurutkan isi array
np.sort(arrnew)

array([1, 2, 3, 4, 5, 6, 6, 7, 8, 8, 9])

## Shape and Size

In [18]:
array_example = np.array([[[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]]])

In [19]:
array_example

array([[[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]]])

In [20]:
print(array_example)

[[[0 1 2 3]
  [4 5 6 7]]

 [[0 1 2 3]
  [4 5 6 7]]

 [[0 1 2 3]
  [4 5 6 7]]]

In [21]:
#Mengatahui banyaknya
array_example.ndim

3

In [22]:
#Mengetahui banyaknya array
array_example.size

24

In [23]:
#Mengetahui jumlah baris dan kolom
array_example.shape

(3, 2, 4)

## Reshape

In [24]:
a = np.arange(6)

In [25]:
a

array([0, 1, 2, 3, 4, 5])

In [26]:
a.shape

(6,)

In [27]:
x = np.array([[0,1,2,3,4,5]])

In [28]:
x.shape

(1, 6)

In [29]:
b = a.reshape(3,2)

print(b)

[[0 1]
 [2 3]
 [4 5]]

In [30]:
b.shape

(3, 2)

## Convert 1D to 2D

In [31]:
a = np.array([1,2,3,4,5,6])

In [32]:
a.shape

(6,)

In [33]:
a2 =a[np.newaxis]

print(a2.shape)
print(a2)

(1, 6)
[[1 2 3 4 5 6]]

In [34]:
row_vector = a[np.newaxis, :]

print(row_vector.shape)
print(row_vector)

(1, 6)
[[1 2 3 4 5 6]]

In [35]:
col_vector = a[:, np.newaxis]

print(col_vector.shape)
print(col_vector)

(6, 1)
[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [36]:
a.shape

(6,)

In [38]:
b = np.expand_dims(a, axis=1)
b.shape

(6, 1)

In [40]:
b

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

In [41]:
c = np.expand_dims(a, axis=0)
c.shape

(1, 6)

In [42]:
c

array([[1, 2, 3, 4, 5, 6]])

## Indexing and Slicing

In [43]:
data = np.array([1,2,3])

In [44]:
print(data)

[1 2 3]

In [45]:
print(data[0]) #Print data pertama
print(data[1]) #Print data kedua
print(data[0:2])#print data pertama dan sebelum data ketiga
print(data[1:]) # Print data mulai dari data pertama dan selanjutnya
print(data[-2:]) #Print dua data dari belakang

1
2
[1 2]
[2 3]
[2 3]

In [46]:
a = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [47]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [48]:
a[a<5]

array([1, 2, 3, 4])

In [52]:
five_up = (a>=5)

a[five_up]

array([ 5,  6,  7,  8,  9, 10, 11, 12])

In [53]:
a[a%2==0]

array([ 2,  4,  6,  8, 10, 12])

In [54]:
a[(a>2)&(a<11)]

array([ 3,  4,  5,  6,  7,  8,  9, 10])

In [55]:
a[a<3]

array([1, 2])

In [56]:
a[a<7]

array([1, 2, 3, 4, 5, 6])

## Creating Array from Existing Data

In [57]:
arr = np.array([1,2,3,4,5,6,7,8,9,10])

In [58]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [62]:
arr_new = arr[3:8]
print(arr_new)

[4 5 6 7 8]

In [66]:
a1 = np.array([[1,1],
             [2,2]])

print(a1)

[[1 1]
 [2 2]]

In [67]:
a2 = np.array([[3,3],
              [4,4]])

print(a2)

[[3 3]
 [4 4]]

In [69]:
np.vstack((a1, a2))

array([[1, 1],
       [2, 2],
       [3, 3],
       [4, 4]])

In [70]:
np.hstack((a1,a2))

array([[1, 1, 3, 3],
       [2, 2, 4, 4]])

In [72]:
arrsplit = np.array([[1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
                     [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

print(arrsplit)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

In [73]:
# Untuk memotong array menjadi 3 sama besar
np.hsplit(arrsplit,3)

[array([[ 1,  2,  3,  4],
        [13, 14, 15, 16]]), array([[ 5,  6,  7,  8],
        [17, 18, 19, 20]]), array([[ 9, 10, 11, 12],
        [21, 22, 23, 24]])]

In [74]:
np.hsplit(arrsplit,4)

[array([[ 1,  2,  3],
        [13, 14, 15]]), array([[ 4,  5,  6],
        [16, 17, 18]]), array([[ 7,  8,  9],
        [19, 20, 21]]), array([[10, 11, 12],
        [22, 23, 24]])]

In [77]:
print(arrsplit)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

In [78]:
b = arrsplit.view()

print(b)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

In [79]:
c = arrsplit.copy()

print(c)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

## Basic Array Operations

In [81]:
data = np.array([1,2,3,4])
ones = np.ones(4)

In [82]:
print(data)
print(ones)

[1 2 3 4]
[1. 1. 1. 1.]

In [83]:
print(data+ones)
print(data-ones)
print(data*ones)
print(data/ones)

[2. 3. 4. 5.]
[0. 1. 2. 3.]
[1. 2. 3. 4.]
[1. 2. 3. 4.]

In [86]:
#Menjumlahkan semua data pada array
print(data.sum())
print(ones.sum())

10
4.0

In [87]:
b = np.array([[1,1],[2,2]])

print(b)

[[1 1]
 [2 2]]

In [88]:
b.sum()

6

In [89]:
b.sum(axis = 0)

array([3, 3])

In [90]:
b.sum(axis=1)

array([2, 4])

In [91]:
A = np.array([[0.45053314, 0.17296777, 0.34376245, 0.5510652],
              [0.54627315, 0.05093587, 0.40067661, 0.55645993],
              [0.12697628, 0.82485143, 0.26590556, 0.56917101]])

print(A)

[[0.45053314 0.17296777 0.34376245 0.5510652 ]
 [0.54627315 0.05093587 0.40067661 0.55645993]
 [0.12697628 0.82485143 0.26590556 0.56917101]]

In [92]:
#Untuk mengetahui nilai maksimum pada suatu array
A.max()

0.82485143

In [93]:
#Untuk mengetahui nilai minimum pada suatu array
A.min()

0.05093587

In [94]:
A.sum(axis = 1)

array([1.51832856, 1.55434556, 1.78690428])

In [95]:
A.min(axis=0)

array([0.12697628, 0.05093587, 0.26590556, 0.5510652 ])

In [96]:
A.max(axis=1)

array([0.5510652 , 0.55645993, 0.82485143])

## Matrices

In [97]:
np.array([[1,2], [3,4]])

array([[1, 2],
       [3, 4]])

In [98]:
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [100]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [102]:
np.random.random((3,2))

array([[0.93435188, 0.3855241 ],
       [0.27205581, 0.07786094],
       [0.84185724, 0.69371077]])

In [103]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Matrix Arithmetic

In [104]:
data = np.array([[1, 2], [3, 4]])

print(data)

[[1 2]
 [3 4]]

In [105]:
ones = np.ones([2, 2])
print(ones)

[[1. 1.]
 [1. 1.]]

In [106]:
print(data + ones)

[[2. 3.]
 [4. 5.]]

In [107]:
print(data - ones)

[[0. 1.]
 [2. 3.]]

In [108]:
print (data*ones)

[[1. 2.]
 [3. 4.]]

In [109]:
print(data/ones)

[[1. 2.]
 [3. 4.]]

In [110]:
ones_row = np.ones([1,2])

print(ones_row)

[[1. 1.]]

In [112]:
print(data+ones_row)

[[2. 3.]
 [4. 5.]]

In [113]:
N = int(input("Masukkan N: "))
A = [[0 for j in range (N)] for i in range (N)]

for i in range(N):
    A[0][i]=1
    A[i][0]=1

for j in range(1,N):
    for i in range(1,N):
        A[i][j] = A[i-1][j] + A[i][j-1]

for j in range (N):
    for i in range (N) :
        print(str(A[i][j]), end=' ')
    print('')

Masukkan N: 5
1 1 1 1 1
1 2 3 4 5
1 3 6 10 15
1 4 10 20 35
1 5 15 35 70

## Dot Product

In [114]:
a_1 = np.array([[1, 2, 3], [4, 5, 6]])
print(a_1)

a_2 = np.array([[7, 8], [9, 10], [11, 12]])
print(a_2)

[[1 2 3]
 [4 5 6]]
[[ 7  8]
 [ 9 10]
 [11 12]]

In [115]:
np.dot(a_1, a_2)

array([[ 58,  64],
       [139, 154]])

In [116]:
print(np.dot(a_1, a_2))

[[ 58  64]
 [139 154]]

In [118]:
data = np.array([[1, 2], [3, 4], [5, 6]])

print(data)

[[1 2]
 [3 4]
 [5 6]]

In [119]:
print(data)
print(data[0,1])
print(data[1:3])
print(data[0:2,0])

[[1 2]
 [3 4]
 [5 6]]
2
[[3 4]
 [5 6]]
[1 3]

In [120]:
print(data[0:1])

[[1 2]]

## Matrix Aggregation

In [121]:
print(data)

[[1 2]
 [3 4]
 [5 6]]

In [123]:
print(data.max())  # Untung mengetahui nilai maksimum didalam matriks
print(data.min())  #Untung mengetahui nilai minimum didalam matriks
print(data.sum()) #Untuk menjumlahkan nilai-nilai didalam matriks

6
1
21

In [126]:
print(data.max(axis=1))
print(data.min(axis=1))

[2 4 6]
[1 3 5]

## Transposing and Reshaping

In [128]:
print(data)

[[1 2]
 [3 4]
 [5 6]]

In [129]:
print(data.T)  # Transpos matriks

[[1 3 5]
 [2 4 6]]

In [130]:
data_col = np.array([[1, 2, 3, 4, 5, 6]]).T
print(data_col)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [131]:
data_col.shape

(6, 1)

In [134]:
data_col.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [136]:
arr = np.arange(12).reshape((3,4))
print(arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

## N-Dimensional Array

In [139]:
ndarr = np.array([[[[1,2],[3,4]],
                  [[5,6], [7,8]]]])

print(ndarr)

[[[[1 2]
   [3 4]]

  [[5 6]
   [7 8]]]]

In [141]:
np.ones(4)

array([1., 1., 1., 1.])

In [143]:
np.ones((4,3,2))

array([[[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]]])

In [145]:
np.ones((2,5,4))

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [146]:
np.zeros((6,2,1))

array([[[0.],
        [0.]],

       [[0.],
        [0.]],

       [[0.],
        [0.]],

       [[0.],
        [0.]],

       [[0.],
        [0.]],

       [[0.],
        [0.]]])

In [147]:
np.random.random((2,4,2))

array([[[0.89411671, 0.3361509 ],
        [0.26728583, 0.13831487],
        [0.33430741, 0.8277792 ],
        [0.16718205, 0.44078052]],

       [[0.7132809 , 0.86034377],
        [0.54751864, 0.78708635],
        [0.64235389, 0.95932536],
        [0.74609003, 0.91957541]]])

## Flatten N-Dimensional Array

In [148]:
arrflat = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

print(arrflat)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [149]:
arrflat.flatten()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

## Notes on Numpy Vector

In [154]:
a = np.random.rand(5)
print(a)

[0.75098986 0.83148974 0.00958765 0.97534737 0.495642  ]

In [155]:
a.shape #Ran 1 Array

(5,)

In [156]:
a.T

array([0.75098986, 0.83148974, 0.00958765, 0.97534737, 0.495642  ])

In [157]:
np.dot(a, a.T)

2.4524163735793274

In [158]:
a = np.random.rand(5,1)  # Column vector

In [159]:
print(a)

[[0.96340459]
 [0.09031387]
 [0.47497946]
 [0.97418701]
 [0.77156205]]

In [160]:
a.shape

(5, 1)

In [161]:
a.T

array([[0.96340459, 0.09031387, 0.47497946, 0.97418701, 0.77156205]])

In [162]:
np.dot(a, a.T)

array([[0.9281484 , 0.0870088 , 0.45759739, 0.93853623, 0.74332642],
       [0.0870088 , 0.0081566 , 0.04289723, 0.0879826 , 0.06968275],
       [0.45759739, 0.04289723, 0.22560548, 0.46271882, 0.36647612],
       [0.93853623, 0.0879826 , 0.46271882, 0.94904033, 0.75164572],
       [0.74332642, 0.06968275, 0.36647612, 0.75164572, 0.595308  ]])